body {
	background: #ffebee;
}
nav {
	background-color: #78909c;
}
.row {
	margin: 5% 2%;
}
p {
	color: #f44336;
}
hr {
	margin-bottom: 2%;
}

.headlines h1 {
	text-align: center;
	margin: 16% auto;
}

.tiles {
    display: inline-block;
}

.titles {
    font-size: 1.8em;
}

/*City*/

.city {
	margin-top: 2%;
}

/*weather*/

.weather {
	text-align: center;
	padding-left: 5%;
}
.weather h2 {
	font-size: 1.5em;
	font-weight: bold;
}
.weather p{
	font-size: 1em;
}
.weather span {
	font-size: 1.3em;
	margin-right: 2%;
}