<!DOCTYPE html>
<html>
	<head>
		<title>News Feed</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection" />
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{ message }} </li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<nav>
		<div class="nav-wrapper">

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">INSTANEWS</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons left">search</i>search</a></li>
        <li><a href="badges.html"><i class="material-icons right">view_module</i>Views latest</a></li>
      </ul>
    </div>
  </nav>
			
		</div>
	</nav>
	{% block content %}
	{% endblock %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.0.0.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>