{% extends 'base.html' %}
{% block content
    <div class="row">
        <div class="col s12 l6 city">
            <form class="col s6">
                <div class="input-field">
                    <input id="city" type="text" name="city">
                    <label for="city">City</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <div class="col s12 l6 weather">
            <h2>Current weather</h2>
            <p class="flow-text"><span>City: </span><b>{{weather.city}}, {{weather.country}}</b></p>
            <p><i>{{weather.description}} |{{weather.temperature}}&#8451;</i></p>
        </div>
        <form class="col s6" method="get">
            <div class="input-field">
                <select name="publication" id="publication">
                    <option value="" disabled selected>Choose the Publication</option>
                    <option value="cnn">CNN</option>
                    <option value="bbc">BBC</option>
                </select>
                <label for="publication"></label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <div class="row headlines">
        <h1>Breaking News</h1>
        {% for article in articles %}
                <div class="tiles col s4">
                    <div class="card large">
                        <div class="card-image">
                            <img src="{{ article.image }}">
                        </div>
                        <div class="card-content">
                            <span class="titles deep-purple darken-4 white-text">{{ article.title }}</span>
                            <p>{{ article.summary }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ article.link }}">Link</a>
                            <span>{{ article.published }}</span>
                        </div>
                    </div>
                </div>
    {% endfor %}
        </div>
{% endblock %}